:root {
  /* second level variables - semantic */
  --color-bg: var(--color-carbon);
  --color-fg: var(--color-blonde);
  --color-accent: var(--color-yalk);
  --color-link: var(--color-sail);
  --color-link-alt: var(--color-sail-80); /*for active hover*/
  --color-link-visited: var(--color-plum);
}

html {
  color: var(--color-fg);
  background-color: var(--color-bg);
}

/*#########################################

WEBSITE LAYOUT

#########################################*/

/* ######################################### */
/* Sidebar Layout - Heydon style */
/* ######################################### */
body {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

body > header {
  flex-basis: 25vw;
  min-width: var(--sidebar-width);
  flex-grow: 1;
  background-color: var(--color-yalk);
  display: flex;
}

body > main {
  flex-basis: 0;
  flex-grow: 999;
  padding: 3rem;
  min-height: 90vh;
  min-width: 70vw;
}

/* ######################################### */
/* Holy Albatross. Header internal layout */
/* Flex bais negative is INVALID. redesigned. */
/* ######################################### */
/* outer level */
.logo {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo svg {
  width: calc(1rem + 6vmin);
  height: auto;
  /* max-height: 3rem; */
}
nav {
  flex-grow: 999;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  align-content: flex-start;
  /* justify-content: flex-start; */
}
.navigation {
  /* min-height: 70%; */
  /* min-width: 70%; */
  flex-grow: 3;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
  align-content: flex-end;
  justify-content: flex-end; 
}

/* Inner navigation */
.navigation > a {
  display: block;
  flex-grow: 1;
  /* CHANGE HERE BASED ON NUMBER OF ITEMS ON MENU
    IF LESS ITEMS -> SMALLER BREAKPOINT (> sidebar-breakpoint anyway) */
  /*--multiplier: calc(30rem - 100%);*/
 /* flex-basis: max(calc(var(--multiplier) * 999), 0) ;*/
}

/*#########################################

STYLES AND COLORS

#########################################*/

/* MAIN NAV LINKS */
.navigation > a {
  padding: 1ch 2ch;
  /* vertical-align: baseline; */
  line-height: 100%;
  /* max-height: 3rem; */
  text-align: right;
  text-transform: uppercase;
  /* text-decoration: line-through; */
  letter-spacing: 0.5rem;
  color: var(--color-carbon);
}
.navigation > a.current {
  text-decoration: none;
  font-weight: 700;
}
.navigation > a:hover {
  text-decoration: none;
}

.navigation > a::after {
  content: "⬡";
}
.navigation > a.current::after {
  content: "⬢";
}

/* GENERIC TYPOGRAPHY TEXTS */
strong {
  font-weight: 400;
  color: var(--color-white);
}
p {
  margin-top: 1rem;

  max-width: 66ch;
}

small {
  font-size: 0.6em;
}
*::selection {
  background: var(--color-fg);
  color: var(--color-bg);
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
  margin-bottom: 1em;
}
h1 {
  display: inline;
  font-size: 3em;
  color: var(--color-carbon);
  background: var(--color-yalk);
  line-height: 1.4;

  padding: 0.5rem 2rem;
  margin-left: -3rem;
  /* margin-bottom: 3rem;  INLINE*/
  padding-left: calc(3rem + 1ch);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
h2 {
  margin-left: -1ch;
}
h3 {
  font-weight: 400;
  font-variant: small-caps;
  color: var(--color-yalk);
}

/* Lists */
ul {
  margin-left: 3ch;
  list-style-type: square;
}

/* Links  */
main a {
  color: var(--color-link);
  text-decoration: underline;
  /* font-weight: 700; */
}

/* External links */
a[href^="//"]:after,
a[href^="http://"]:after,
a[href^="https://"]:after
{
  content: "↗";
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 0.7em;
  font-weight: 700;
  vertical-align: top;
  padding-inline-start: 0.2em;
  margin-inline-end: 0.2em;
}

/* ######################################### */
/* MAIN FOOTER */
/* ######################################### */
/* body > footer {
  color: var(--color-blonde);
  background: var(--color-carbon);
  font-size: 0.5em;
  margin: -1rem;
  padding: 1rem;

  margin-top: 3rem;

  text-align: center;
  display: flex;
  flex-direction: column;
}
body > footer > * + * {
  margin-top: 1rem;
} */

/*#########################################

PAGE SPECIFIC CODE

#########################################*/

/* 404 */
.notFoundPage {
  display: flex;
  align-content: center;
  justify-content: center;
}

.notFoundPage svg {
  width: 80%;
  height: auto;
  max-width: 80vw;
  max-height: 80vh;
}
.notFound {
  fill: var(--color-yalk);
  font-family: var(--font-body);
  font-weight: 700;
  font-size: 1rem;
}
/* HOME */
#headshot {
  margin: 0 auto 2rem;
  display: block;
  max-width: 30vw;
  max-height: 30vh;
}
.home h1 {
  text-align: center;
  display: block;
  margin: 0.5em;
  padding: 0;
  display: block;
  background: none;
}
.home h1 span {
  line-height: 1.4;
  color: var(--color-carbon);
  background: var(--color-yalk);
  padding: 0.5rem;
  /* padding-left: calc(3rem + 1ch); */
  box-decoration-break: clone;
}
