/*###########################################################
############################################################

SELF HOST FONTS
https://www.zachleat.com/web/css-tricks-web-fonts/ 

############################################################
############################################################*/

@font-face {
  font-family: Rubik;
  src: local("Rubik"),
       url(/fonts/Rubik-Bold-kern-latin.woff2) format("woff2"),
       url(/fonts/Rubik-Bold-kern-latin.woff) format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  src: local("Rubik"),
    url(/fonts/Rubik-Regular-kern-latin.woff2) format("woff2"),
    url(/fonts/Rubik-Regular-kern-latin.woff) format("woff");
  font-weight: 400;
  font-display: swap;
}

:root {
  --font-h1: "Rubik", Roboto, sans-serif;
  --font-body: "Rubik", Roboto, sans-serif;
}

/* Default text */
html {
  font-size: calc(0.8rem + 0.5vw);
  line-height: 1.7;
  vertical-align: baseline;
  font-family: var(--font-body);
  font-weight: 400;
}
