:root {
  --color-yalk: #fcb827;
  --color-yalk-80: rgba(252, 185, 39, 0.8);
  --color-blonde: #d4d5d0;
  --color-carbon: #333336;
  --color-sail: #3fe6fc;
  --color-sail-80: rgba(39, 117, 252, 0.8);
  --color-plum: #8312af;
  --color-black: #000000;
  --color-white: #ffffff;

  --sidebar-width: 20rem;
}
