{% extends 'layouts/base.njk' %}

{% set pageType = 'Home' %}

{% block content %}
  <main class="notFoundPage" tabindex="-1">
              {% include "img/404.svg" %}


  {# {{ content | safe }} #}

  </main>
{% endblock %}