<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta name="generator" content="eleventy" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {# FAVICON #}
    {# <link rel="shortcut icon" type="image/png" href="favicon.png"/> #}
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">

    {# generic meta that include the base and add the single page info#}
    {% include "partials/global/meta-info.njk" %}

    {# FONTS #}
    {# Fonts self hosted - this is step 1 - no step 2 atm #}
    <link rel="preload" href="/fonts/Rubik-Bold-kern-latin.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Rubik-Regular-kern-latin.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    
    {# CSS #}
    {# capture the CSS content as a Nunjucks variable #}
    {% set css %}
      {% include "css/variables.css" %}
      {% include "css/reset.css" %}
      {% include "css/typography.css" %}
      {% include "css/style.css" %}
    {% endset %}
    {# feed it through the cssmin filter to minify #}
    <style>
      {{ css | cssmin | safe }}
    </style>




    {# for child themes #}
    {% block head %}
    {% endblock %}
    
    {# to inline svgs ????  #}
    {% block svg %}
    {% endblock %}

  </head>
  <body>

    {# {% include "partials/global/site-head.njk" %} #}
    {# Header common to all pages. can be overridden #}
    {% block header %}
    <header>
      <a class="vh" href="#main">Skip to content</a>
      
      <nav aria-label="site links">
        <div class="logo">
          <a href="/">
            {% include "img/logo-dark.svg" %}
            <span class="vh">Giorgio home page</span>
          </a>
        </div>
        
        <div class="navigation">
          {%- for pg in collections.main_nav -%}
          <a {% if page.url == pg.url %} class="current"{% endif %} href="{{pg.url}}">{{ pg.data.link }}</a>
          {%- endfor -%}
        </div>

      </nav>
    </header>
    {% endblock header%}

    {% block content %}
    {% endblock content %}

    {# {% include "partials/global/site-foot.njk" %} #}
    
    
    {% block foot %}

    {% endblock %}

  </body>
  </html>
