{% extends 'layouts/base.njk' %}

{% set pageType = 'Post' %}


{% block content %}
  <main id="main" class="article" tabindex="-1">
    <article>
      
      <header>
        <h1>{{ title }}</h1>
      </header>

      {{ content | safe }}
    
    </article>
  </main>
{% endblock %}