{% extends 'layouts/base.njk' %}
{% set pageType = 'Projects' %}

{# Intro content #}
{# {% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %} #}

{# Projects list content #}
{% set projectListHeading = 'All Projects' %}
{% set projectListItems = collections.projects %}

{% block content %}
  <main id="main" tabindex="-1">
    {# {% include "partials/components/intro.njk" %} #}
    {% include "partials/components/projects-list.njk" %}
  </main>
{% endblock %}